body {
    background: #f2f2f2;
}

header {
    margin-top: 200px;
    display: flex;
}

.videoContainer {
    width: 80%;
    justify-self: flex-start;
}

/* Clase que hace al video sticky */
.fixed { 
    width: 600px;
    position: fixed;
    top:10px;
    left: -110px;
}

.header {
    width: 100%;
    display: flex;
    text-align: end;
}

header video {
    width: 80%;
    border-top: 35px solid;
    border-bottom: 35px solid;
    border-radius: 5px;
    margin-left: 120px;
    margin-right:40px;
}

.texto {
    width: 40%;
    font-family: 'Montserrat', sans-serif;
    margin: 90px;
}

.texto h1 {
    font-size: 36px;
    font-weight: lighter;
    justify-self: self-end;
}

.texto p {
    font-size: 20px;
    font-weight: lighter;
    justify-self: self-end;
}

.boton1, .boton2 {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    justify-self: self-end;
}

.boton1 {
    background: #00A13B;
    color: #f2f2f2;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    width: 150px;
    height:40px;
    cursor: pointer;
}

.boton2 {
    background: #f2f2f2;
    color: #00A13B;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 40px;
    border: 3px solid #00A13B;
    width: 150px;
    height:40px;
    cursor: pointer;
}

.boton1:hover {
    background: #018b34;
    color: #f2f2f2;
}

.boton2:hover {
    background: #f2f2f2;
    color: #018b34;
    border: 3px solid #018b34;
}